.product.text-container p {
    font-size: 0.875em;
    padding: 10px 0px;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 32px;
}

.cart_item_main_img {
    flex-basis: 180px;
    border-radius: 5px;
}

.cart_item_main_img img{
    width: 120px;
    object-fit: cover;
}

.cart_item_info p:first-child {
    font-size: 0.875em;
    font-weight: 700;
    padding: 0;
    padding-bottom: 5px;
}

.cart_item_info p:nth-child(2) {
    font-size: 0.875em;
    font-weight: 400;
    padding: 0;
    padding-bottom: 10px;
}

.cart_item_info h3{
    font-size: 1.2em;
    font-weight: 700;
    padding: 0;
    padding-bottom: 8px;
}

.cart_item_qtd_selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_item_qtd_selector_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.cart_item_qtd_selector button {
    background-color: #f1efef;
    padding: 3px 25px;
    border: none;
    border-radius: 5px;
    color: #c4c3c3;
    font-size: 12px;

}

.cart_item_qtd_selector_container span{
    padding: 3px 24px;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before
{
    padding: 3px;
}

.total_container {
    align-items: stretch;
    border: 1px solid var(--brand-color);
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.checkout_btn {
        margin-bottom: 15px;
        width: 100%;
        font-size: 20px;
        padding: 10px 0px;
    }

.total {
        padding-bottom: 10px;

    }

.total:nth-child(2) h3{
    font-size: 14px;
    font-weight: 600;
}

.total:nth-child(3){
    border-top: 1px solid;
    padding-top: 5px;
}
