.footer-info-container {
    padding-top: 3.125em;
    padding-bottom: 1.5625em;
    column-gap: 16px;
    align-items: stretch;
    border-top: 1px solid #e6e3e3;
    display: flex;
}

.footer-info-card {
    width: 25.25em ;
    padding:16px;
    background-color: var(--bg-color);
    border-radius: 15px;
}

.footer-info-card h4{
    font-weight: 400;
    padding-bottom: 16px;
}

.footer-info-card h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    padding-bottom: 16px;
}

.footer-info-card h5{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}

.footer-bg {
    background-color: var(--main-color);
}

.footer-nav {
    padding: 3em 0;
    color: var(--bg-color);
    align-items: flex-start;
}

.footer-nav-container {
    display: flex;
   
}

.footer-navitem-container {
    margin-right: 56px;
}

.footer-navitem-container h3,
.footer-social-container h3{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer-navitem-container ul{
   list-style: none;
}

.footer-navitem-container li{
    padding-bottom: 10px;
 }

 .footer-navitem-container li a{
    text-decoration: none;
    color: var(--bg-color);
 }

 .footer-social-container h5{
    font-weight: 300;
    padding-bottom: 10px;
 }

 .footer-social-container i {
    padding-right: 16px;
    font-size: 36px;
 }

 .rights {
    background-color: var(--text-color);
    text-align: center;
    color:var(--bg-color);
    font-size: 14px;
    padding: 32px 0;
 }

 @media (max-width: 576px) {
    .footer-info-container{
        flex-direction: column;
        row-gap: 16px;
    }

    .footer-info-card {
        width: 100% ;
        
    }

    .footer-social-container{
        padding-top: 20px;
        text-align: center;
    }

    .footer-nav {
        padding: 40px 0;
    }
}