/*--------------- layout global settings------------------------ */


 /*------ global variables------- */
:root {
   --font:"Inter", sans-serif;
   --font-size:16px;
   --body:#F5F6F6;
   --bg-color:#FFF;
   --main-color:#272D68;
   --text-color:#000;
}

body {
    background-color: beige;
    font-family: var(--font); 
    font-size: var(--font-size);
    color: var(--text-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/*-------- titles and texts -------- */

.primary-title {
    font: 700 1.5rem var(--font);
}

.secondary-title { 
    font: 700 1.25rem var(--font);
}

.title { 
    font: 400 1rem var(--font);
}

.small-text {
    font:300 0.875rem var(--font)
}


/*--------- layout settings---------- */

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.grid_col_1 {
    grid-area: col1;
    padding:25px
   
}

.grid_col_2 {
    grid-area: col2;
    padding: 25px;
}

/* grid_template */
#product_page, #checkout, #billing{
    display: grid;
    column-gap: 32px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "col1 col2";

}

/*---------- components--------------- */
/* --- main-banner --- */

.section-banner {
    width: auto;
    padding-top: 2em;
}

.section-banner img{
    width: 100%;
    border-radius: 15px;

}

/*--- text-containers ---*/

.text-container {
    padding: 12px 32px;
    background-color: var(--bg-color);
    border-radius: 15px;
}



/*--- product card --- */

.product-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding:16px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    /* height: 512px; */
    border-radius: 15px;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.04);
}

.product-card img {
    width:100%;
    border-radius: 15px;
    object-fit: cover;
}

.product-card-btn {
    width: 100%;
    padding: 5px 20px;
    background-color: var(--main-color);
    border-radius: 15px;
    color: var(--bg-color);
}

.product-card-title , 
.product-card-reference,
.product-card-price {
    font-size: 1em;
    font-weight: 400;
    line-height:1.125em ;   
}

.product-card-title{
        height: 36px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
}

.product-card-reference{
    padding-top: 25px;
    padding-bottom: 16px;
    font-size: 12px;
    font-weight: 300;

}

.product-card-price {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 12px;
}

.product-card-installment {
    font-size: 0.75em;
    padding-bottom: 17px;;
    font-weight: 300;
}

.bi-house-check{
    text-align: center;
    font-size: 95px;
}

.bi-house-lock-fill{
    text-align: center;
    font-size: 95px;
}

.bi-building-fill-add{
    text-align: center;
    font-size: 95px;
}

.bi-building-fill-up{
    text-align: center;
    font-size: 95px;
}

.bi-house-heart{
    text-align: center;
    font-size: 95px;
}
.texto{
    text-align: center;
}
body{
    background-color: beige;
}
.div_formulario{
display: flex;
border: 1px solid green;
width: 400px;
height: 600px;
position: relative;
top: 150px;
margin: 0 auto;
background-color: rgb(184, 191, 208);
}

form{

    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    position: relative;
    top: 60px;

}
.nome{
    border-radius: 60px;
    padding: 15px 15px;

}
/* 
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
} */


/* 
.main-text{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
}

.page-title-small {
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.5em;

} */






/* product container and grid */


@media (max-width: 576px) {

:root {

    --font-size:14px;

}

.container{
    max-width: 100%;
    margin: 0 auto;
}

header .container, main, .footer-info-container, .footer-bg, .rights .container{
    padding:0 5%;
}



.product-card{
    flex-basis: 160px;
}






}